SERVICE_PORT=8001
GOOGLE_APPLICATION_CREDENTIALS=/app/credentials/gcp_key.json
POSTGRES_URL=postgresql://paddyguard:paddyguard123@postgres:5432/paddyguard_db
MODEL_PATH=/app/models/paddyguard_best_classifier.pkl
TFIDF_PATH=/app/models/paddyguard_tfidf.pkl
ASR_MODEL_ID=Lingalingeswaran/whisper-small-sinhala
TTS_ENGINE=coqui
