SERVICE_PORT=8002
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_BUCKET_NAME=paddyguard-images
AWS_REGION=ap-south-1
MODEL_PATH=/app/models/best_model.pth
MODEL_ARCH=efficientnet_b3
POSTGRES_URL=postgresql://paddyguard:paddyguard123@postgres:5432/paddyguard_db
